.step-container {
  @apply flex;

  .step-left {
    @apply relative w-6;

    .step-number,
    .step-content-completed-icon {
      @apply relative flex items-center justify-center rounded-full mt-[20px];

      z-index: 2;
      width: 24px;
      height: 24px;
      color: #fff;
      background-color: #c0c4cc;
    }

    .step-line {
      position: absolute;
      top: 20px;
      left: 50%;
      z-index: 1;
      width: 1px;
      height: calc(100% + 20px);
      border-right: 1px dashed #d4d6d9;
      transform: translateX(-50%);
    }

    &.step-completed {
      .step-number {
        background-color: transparent !important;
      }
    }
  }

  .step-content {
    @apply p-4 bg-white flex-1 rounded-lg border border-transparent;

    .step-content-header {
      @apply relative flex items-center justify-between mb-4 pl-2.5;

      &::before {
        @apply absolute top-1/2 -translate-y-1/2 left-0 w-1 h-[22px] bg-primary rounded-full;

        content: "";
      }

      .step-content-header-title {
        @apply text-[18px] font-bold relative text-text-regular;
      }

      .step-content-header-icon {
        @apply w-5 h-5;
      }
    }

    .step-content-form {
      .form-container {
        @apply px-2;
      }
    }

    .form-actions {
      text-align: left;
    }
  }

  .summary-container {
    @apply px-3;

    .summary-content {
      @apply flex text-sm gap-x-6 text-info;
    }
  }

  .step-placeholder {
    @apply text-sm gap-x-6 text-info;
  }

  &.step-active {
    .step-content {
      border-color: var(--color-primary);
    }
  }
}
